<?xml version="1.0" encoding="UTF-8" ?>
<OPCUA xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://lappweb.in2p3.fr/~panazol/xsd/v2_0_0/dict_device.xsd">
	<Name>CDM_SG_Server</Name>
	<!-- <Attribut>
		<Name>AName</Name>
		<Value>AValue</Value>
	</Attribut> -->

	<SimpleDevice>
		<Name>CDM</Name>
		<!-- <Attribut>
		<Name>AName</Name>
		<Value>AValue</Value>
		</Attribut> -->
		<Plugins>
			<Location>plugins/libCDM.so</Location>
			<Name>CDM_plugin</Name>
		</Plugins>

		<Instruction_set>
			<Instruction>
				<Name>first_test</Name> <!-- This is the mnemonic that Method uses in DeviceInstruction -->
				 <Cmd>first_test</Cmd>  <!-- This command is sent to C++ program-->
			</Instruction>
		</Instruction_set>
		
		<!-- 
		<FSM>
			<NameFSM>Start</NameFSM>
			
		</FSM> -->

		<CompoundDatapoint>
			<Name>Compound_datapoint</Name>
			<SimpleDatapoint>
				<Name>Simple_datapoints</Name>
				<Type>string</Type>
				<Multiplicity>3</Multiplicity>
				<StartNumberingMultiplicity>1</StartNumberingMultiplicity>
			</SimpleDatapoint>
		</CompoundDatapoint>

		<SimpleDatapoint>
			<!-- <AccesLevel>1</AccesLevel> -->
			<Name>SimpleDatapoint</Name>
			<Type>string</Type>
			<!-- 
			<ArraySize>3</ArraySize>
			<ElementArray></ElementArray>
			<Description></Description>
			<DefaultValue></DefaultValue> 
			<MonitoringRate>10</MonitoringRate>		
			<Historizing>1</Historizing> 
			-->
			<Method>
				<Name>get</Name>
				<Sequence> <!-- You can chain multiple sequences to execute multiple commands-->
					<NodeId>1</NodeId>
					<MethodId>2</MethodId>
					<ServerId>3</ServerId>
				</Sequence>
				<Argument>
					<Name>myName</Name>
					<Type>string</Type>
					<Access>Input</Access>
					<DefaultValue>1</DefaultValue>
					<Range>
						<Min>1</Min>
						<Max>10</Max>
					</Range>
					<Description>myDescription</Description>
				</Argument> 
				<DeviceInstruction>
					<Value>first_test</Value>
				</DeviceInstruction>
			</Method>
		</SimpleDatapoint>

	</SimpleDevice>

	<SimpleDevice>
		<Name>SG</Name>
		<!-- <Plugins>
			<Location>plugins/libSG.so</Location>
			<Name>SG_plugin</Name>
		</Plugins> -->

		<Instruction_set>
			<Instruction>
				<Name>first_test</Name>
				<Cmd>first_test</Cmd>
			</Instruction>
		</Instruction_set>

		<SimpleDatapoint>
			<Name>first_test</Name>
			<Type>string</Type>
			<!--  <MonitoringRate>10</MonitoringRate> -->
			<Historizing>1</Historizing>
			<Method>
				<Name>get</Name>
				<DeviceInstruction>
					<Value>first_test</Value>
				</DeviceInstruction>
			</Method>
		</SimpleDatapoint>

	</SimpleDevice>

	<SimpleDevice>
		<Name>Sensor</Name>
		<!-- <Plugins>
				<Location>plugins/libSensor.so</Location>
				<Name>Sensor_plugin</Name>
			</Plugins> -->

		<Instruction_set>
			<Instruction>
				<Name>first_test</Name>
				<Cmd>first_test</Cmd>
			</Instruction>
		</Instruction_set>

		<SimpleDatapoint>
			<Name>first_test</Name>
			<Type>string</Type>
			<!--  <MonitoringRate>10</MonitoringRate> -->
			<Historizing>1</Historizing>
			<Method>
				<Name>get</Name>
				<DeviceInstruction>
					<Value>first_test</Value>
				</DeviceInstruction>
			</Method>
		</SimpleDatapoint>
	</SimpleDevice>

</OPCUA>